html {
    font-size: 16px;
}

.wk-navbar {
    width: 100%;
    padding: 1rem;
    background-color: #f8f8f8;
}

.wk-navbar .first-level div {
    display: inline-block;
}

.wk-navbar .first-level div.right {
    float: right;
}

a.link {
    padding: 8px 12px;
    border-radius: 4px;
}

a.link.black {
    color: #111;
}

a.link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}